<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="title" content="dictionary">
        <title>Define the Word About</title>
        <meta name="description" content="about">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="pageTitle">
                    <h1>Define the Word</h1>
                </div>
                <div class="navbar">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/signup">Sign-Up</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <h1 class="aboutHeader">About</h1>
            <p class="about">
                The Define the Word web application allows a user to input a word and search for it's definition.
                The definition is generated from a call to the Free Dictionary API. The API can be found at
                https://dictionaryapi.dev. The online service provides more than 150,000 definitions.<br>
                Free Dictionary API lets you retrieve information about English words, including definitions, synonyms,  
                pronunciation, syllables, and frequency of usage. The API also supports multiple languages.
            </p>
        </main>
    </body>
</html>