<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Define the Word</title>
</head>
<body>
    <h1>Failed</h1>
    <p>The attempt to subscribe to the Define the Word newsletter was not successful. Please check that 
        the information you provided is valid. Please <a href="/signup">try again</a></p>
    
</body>
</html>