<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Define the Word</title>
</head>
<body>
    <h1>Subscribed to the Newsletter!</h1>
    <p>You have been successfully subscribed to our email notifications. You will start receiving the word of the day daily definitions.</p>
    <p>Thank you for joining the Define the Word API team. You will know more today than you did yesterday.</p>
</body>
</html>